.show_btn, .hide_btn {
  color: #0000FF;
}

.lead-paragraph {
  font-weight: bold;
}

.show_btn:hover {
  text-decoration: underline;
}

.hide_btn:hover {
  text-decoration: underline;
}

.head-paragraph {
  font-weight: bold;
}

.site-name {
  font-family: Palatino;
  font-size: 50px;
  color: #281F5B;
}

.header_hr {
  color: #281F5B;
}

.article_img>img {
  width: 100%;
}

body {
	background-color: #eee;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

h1, h2 {
  color: #000000;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 40px;
  margin-bottom: 8px;
}

h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.other {
  margin-bottom: 40px;
}

.main-text {
  text-align: justify;
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr auto;
}

.header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#footer {
  width: 50%;
  margin: auto;
  grid-column: 1 / -1;
  grid-row: 3 / -1;
}

#head-content {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#head-text {
  grid-column: 1 / 5;
}

#head-burger {
  display: none;
}

#head-burger-menu {
  grid-column: 1 / -1;
  display: grid;
  grid-row: 2 / 3;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr auto;
}

#head-burger-menu-main {
  grid-column: 2 / -1;
}

#head-burger-menu-line {
  grid-column: 1 / -1;
}

.navigation {
  grid-column: 1 / 2;
  grid-row: auto;
}

.article {
  grid-column: 2 / -1;
}

.story {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
}

.text-section {
  grid-column: 1 / 7;
}

.article_img {
  margin-top: 30px;
  padding: 25px;
  grid-column: 7 / 11;
}

.author-box {
  margin-top: 30px;
  padding: 25px;
  text-align: center;
  grid-column: 11 / 13;
}

.author-name-header {
  font-weight: bold;
}

.other-posts {
  /*background-color: #00ff00;*/
  width: 25%;
  float: left;
}

.date {
  margin-bottom: 5px;
}

.news_seperator {
  margin-top: 10px;
  margin-bottom: 10px;
}

#burger-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: none;
}

.burger-li {
  float: left;
}

.burger-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.burger-li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 1200px) {
  .story {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
  }

  .text-section {
    grid-column: 1 / 2;
  }

  .article_img {
    grid-column: 2 / 3;
  }

  .author-box {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 900px) {
  #burger-ul {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .article {
    grid-column: 1 / -1;
  }

  h1 {
    font-size: 27px;
  }

  .site-name {
		font-size: 33.33px;
	}

  .navigation {
    grid-column: 1 / 1;
    display: none;
  }

  .story {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4fr auto;
  }

  .text-section {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .author-box {
    margin-top: 30px;
    padding: 25px;
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .article_img {
    padding: 0px;
    text-align: center;
    width: 75%;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  #head-content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  #head-burger-menu-main {
    grid-column: 1 / -1;
  }

  #burger-ul {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #burger-ul {
    display: none;
  }

  .article {
    grid-column: 1 / -1;
  }

  .navigation {
    grid-column: 1 / 1;
    display: none;
  }

  .story {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
  }

  .text-section {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    /* grid-column: 1 / -1; */
  }

  .author-box {
    margin-top: 30px;
    padding: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    /* grid-column: 1 / -1; */
  }

  .article_img {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  #head-burger {
    margin: auto;
    grid-column: 5 / -1;
    grid-row: 2 /-1;
    display: block;
  }
}
